<h1>All the food we eat matters!</h1>

<h2>Let us help you calculate the calories and nutrients you are eating</h2>

<section class="features">
  <div class="feature">
    <img src="assets/about/avocado.png" alt="avocado">
    <p class="feature-text">Add the neccessary ingredients to your list</p>
  </div>
  <div class="feature">
    <img src="assets/about/egg.png" alt="egg">
    <p class="feature-text">Select ingredients from the list and calculate all calories and nutrients</p>
  </div>
  <div class="feature">
    <img src="assets/about/cherry.png" alt="cherry">
    <p class="feature-text">Save your recipes and calculate their calorie content in 1 click</p>
  </div>
</section>

<h2 class="summary">Enjoy your food and be healthy!</h2>


<!-- <section class="featuresPictures">
  <div class="feature">
    <img src="../../assets/about/prawn.png" alt="prawn">
  </div>
  <div class="feature">
    <img src="../../assets/about/broccoli.png" alt="broccoli">
  </div>
  <div class="feature">
    <img src="../../assets/about/steak.png" alt="steak">
  </div>
</section> -->
