<h1>All the food we eat matters!</h1>

<h2>Let us help you calculate the calories and nutrients you are eating</h2>

<section class="features">
  <div class="feature">
    <img src="../../assets/about/avocado.png" alt="avocado">
  </div>
  <div class="feature">
    <img src="../../assets/about/egg.png" alt="egg">
  </div>
  <div class="feature">
    <img src="../../assets/about/cherry.png" alt="cherry">
  </div>
  <!-- <div class="feature">
    <img src="../../assets/about/prawn.png" alt="prawn">
  </div>
  <div class="feature">
    <img src="../../assets/about/broccoli.png" alt="broccoli">
  </div>
  <div class="feature">
    <img src="../../assets/about/steak.png" alt="steak">
  </div> -->
</section>

<!-- <section class="features">
  <div class="feature">
    <img src="../../assets/about/avocado.png" alt="avocado">
  </div>
  <div class="feature">
    <img src="../../assets/about/egg.png" alt="egg">
  </div>
  <div class="feature">
    <img src="../../assets/about/cherry.png" alt="cherry">
  </div>
  <div class="feature">
    <img src="../../assets/about/prawn.png" alt="prawn">
  </div>
  <div class="feature">
    <img src="../../assets/about/broccoli.png" alt="broccoli">
  </div>
  <div class="feature">
    <img src="../../assets/about/steak.png" alt="steak">
  </div>
</section> -->
