$color-primary: #673ab7
$color-accent: #ffd740
$color-warn: #f44336
$color-success: #40c02a


// $font;
@mixin h1
  font-size: 48px
  font-weight: 200
  padding: 12px
  margin: 48px 0 0 0


@mixin h2
  font-size: 24px
  font-weight: 200
  padding: 12px

@mixin feature
  font-size: 18px
  font-weight: 200
  line-height: 150%
