<section>
  <nav class="header">
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
      <a [routerLink]="['/']">
        <div class="text">
          <p class="name">FoodMeter</p>
          <p class="phrase">Food meter matters</p>
        </div>
      </a>
    </div>

    <mat-nav-list class="menu">
      <a mat-list-item [routerLink]="['/calculator']" routerLinkActive="active">
        Calculator
      </a>
      <a mat-list-item [routerLink]="['/ingredients']" routerLinkActive="active" *ngIf="isAuthorized">
        My&nbsp;ingredients
      </a>
      <a mat-list-item [routerLink]="['/about']" routerLinkActive="active">
        About
      </a>
      <a mat-list-item *ngIf="!isAuthorized" [routerLink]="['/auth']" routerLinkActive="active">
        Log&nbsp;in
      </a>
      <a mat-list-item *ngIf="isAuthorized" (click)="handleLogout()" routerLinkActive="active">
        Log&nbsp;out
      </a>
    </mat-nav-list>

  </nav>

</section>
